.panel {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  justify-content: center;
}

.element {
  padding-bottom: 4px;
  width: 90%;
  margin: auto;
}

#root {
  height: 100vh;
}

.links {
  color: rgb(13, 102, 208);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.scrollable-content {
  width: 90%;
  padding: auto;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin-top: 14px;
  padding-bottom: 14px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.flex-item {
  width: 100%; /* Adjust the space as needed */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  text-align: center;
}
