.panel {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  justify-content: center;
}

.scrollable-content {
  width: 90%;
  padding: auto;
}

dialog {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 300px;
  background-color: rgb(53, 53, 53);
}

.dialog-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-baseline {
  align-items: flex-end;
}

.text-red {
  color: red;
}

.element {
  padding-bottom: 4px;
  width: 100%;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

#root {
  height: 100vh;
}

.links {
  color: rgb(13, 102, 208);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row > *:not(:first-child) {
  margin-left: 4px; /* Adjust the space as needed */
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin-top: 14px;
  justify-content: flex-start;
  padding-bottom: 14px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.flex-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  text-align: center;
}
